@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');
@import url('./prism-atom-dark.css'); /* TODO */

:root {
    --text: #e5e5e5; /* neutral 200  */
    --background: #18181b; /* zinc 800 */
    --color-link: #3b82f6; /* blue 500 */
    --border-color: #6b7280; /* gray 500 */
    --color-hover: #dc2626; /* red 600 */
}

html {
    background-color: var(--background);
    font-family: 'Source Sans 3', sans-serif;
    margin: 5px 10px;
    color: var(--text);
}

a, p, h1, h2, h3, h4, nav, li {
    margin: 0 auto;
    text-decoration: none;
    letter-spacing: -0.1px;
}

@media (min-width: 640px) { 
    html {
        margin: 4vh min(15em, 15vw);
        font-size: 1.2rem;
    }
}

@media (max-width: 300px) {
    html {
        margin: 0;
        font-size: 0.8rem;
    }
}

a {
    font-weight: 500;
    text-decoration: underline;
    color: var(--color-link);
}

a:hover {
    color: var(--color-hover);
    text-decoration: underline;
    cursor: pointer;
}

h1.half {
    font-size: 1.75em;
}
