@import url('/prism-theme.css');

:root {
    --text: #e5e5e5; /* neutral 200  */
    --background: #18181b; /* zinc 800 */
    --color-link: #3b82f6; /* blue 500 */
    --border-color: #6b7280; /* gray 500 */
    --color-hover: #dc2626; /* red 600 */
}

html {
    background-color: var(--background);
    margin: 5px 12px;
    color: var(--text);
    font-size: 1.1rem;
}

body {
    font-family: 'Source Sans 3 Variable', sans-serif;
    max-width: 48rem;
    margin: auto;
}

a, p, h1, h2, h3, h4, nav, li {
    margin: 0 auto;
    text-decoration: none;
    overflow-wrap: break-word;
    line-height: 1.5;
}

code {
    font-family: 'Source Code Pro Variable', monospace !important;
}

@media (min-width: 640px) { 
    html {
        font-size: 1.35rem;
    }

    body {
        padding: 4vh 20vw;
    }
}

@media (max-width: 300px) {
    html {
        margin: 0;
        font-size: 1rem;
    }
}

a {
    font-weight: 500;
    text-decoration: underline;
    color: var(--color-link);
}

a:hover {
    color: var(--color-hover);
    text-decoration: underline;
    cursor: pointer;
}

h1.half {
    font-size: 1.75em;
}

svg {
    height: 1em;
}
